
.vs/dz24_06_21/v16/.suo
.vs/dz24_06_21/v16/Server/sqlite3/db.lock
.vs/dz24_06_21/v16/Server/sqlite3/storage.ide
.vs/dz24_06_21/v16/Server/sqlite3/storage.ide-shm
.vs/dz24_06_21/v16/Server/sqlite3/storage.ide-wal
.vs/дз 29.06.21/v16/.suo
.vs/дз 29.06.21/v16/Server/sqlite3/db.lock
.vs/дз 29.06.21/v16/Server/sqlite3/storage.ide
